// Color Variables

$light-aqua-green: #58e1c1;
$sky-blue: #51ddfc;
$light-sky-blue: #7ee6fd;
$purple: #927bc1;
$lavender: #deb2ee;
$red-orange: #fd7856;
$light-orange: #fd9f85;
$light-green: #88d9a0;
$teal-blue: #4da2bb;
$light-coral: #ec9fa3;
$light-red: #e4757a;
$green-apple: #63cc82;
$light-seafoam-green: #80e8d1;
$white: #fff;
$light-gray: #ccc;
$medium-gray: #777;

// Media Query Breakpoint

$tabletwidth: 768px;